@{
    ViewBag.Title = "Home Page";
}

@section Scripts
{
    <script src="~/Lib/underscore/underscore-min.js"></script>
    <script src="~/Lib/angular/angular.min.js"></script>
    <script src="~/Lib/angular-route/angular-route.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Lib/gmaps/gmaps.min.js"></script>
    <script src="~/Lib/travelmap/travelmap.min.js"></script>


    <environment names="Development">
        <script src="~/JS/app-trips.js"></script>
        <script src="~/JS/simpleControls.js"></script>
        <script src="~/JS/tripsController.js"></script>
        <script src="~/JS/tripEditorController.js"></script>
    </environment>

    <environment names="Production,Staging">
        <script src="~/Lib/_app/app-trips.js"></script>
        <script src="~/Lib/_app/simpleControls.js"></script>
        <script src="~/Lib/_app/tripsController.js"></script>
        <script src="~/Lib/_app/tripEditorController.js"></script>
    </environment>

}

<div class="row" ng-app="app-trips">
    <div ng-view></div>
</div>

